.App {
  text-align: center;
  background: url('/bg.jpg');
  background-size: cover;
  margin: 0;
  height: 100vh;
  font-family: 'Abel', sans-serif;
}

.control-container{
  background:rgba(0,0,0,0.4);
  font-family: 'Abel', sans-serif !important;
}

.control-container h1{
  font-size: 42px;
  font-family: 'Abel', sans-serif !important;
  
}
.control-container h2{
  font-size: 32px;
  
}

.nav{
  background:rgba(0,0,0,0.8);
}

.nav h2{
    padding: 22px;
    background: rebeccapurple;
    width: 18.2vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.full-screen-grid {
  height:105vh;
  color:#fff;
}
.menu-tree{
  padding: 30px;
  font-size: 20px;
}

.menu-item{
  padding-left: 20px;
  padding-top: 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.menu-item-header i{
  padding-right: 10px;
  font-size: 16px;
}
.hidden{
  display: none;
  overflow: hidden;
  transition: height .3s ease-out;
}

.visible{
  display: block;
  color:#767676;
  transition: height .3s ease-in;
  float: left;
  width:90% !important;
}

.visible .menu-item .menu-item-header i{
  color: #fbbd08;
  font-size: 14px;
}
.visible .menu-item{
  width:90% !important;
  padding-bottom: 15px;
}
.visible .menu-item:not(:first-child){
  padding-top: 0px;
}


.ssh-view-box {
  background: #2c0465bf;
  text-align: left;
  width:82vw;
  height: 95vh;
  padding: 20px;
  margin:20px;
  margin-left: -15px;
  word-wrap: break-word;
}

.ssh-view-box h3,h4 {
  font-weight: 300;
}
.ssh-view-box .keys{
  padding:10px;
  overflow: scroll;
  height:80vh;
}

.ssh-box{
  background:#fff;
  color:#333;
  border-radius: 3px;
  padding:20px;
  margin-top:5px;
  margin-left: 20px;
  margin-right: 20px;
}

.icon-box{
  width: 100%;
  color: #f2711c;
  text-align: right;
  font-size: 22px;
}